:root {
  --color-texto: #f0f0f0;
  --color-texto-secundario: grey;
  --color-primario: #0b1d0d;
  --color-secundario: #005807;
  --aside-width: 260px;
  --header-height: 60px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
body {
  background: var(--color-primario);
  color: var(--color-texto);
}

body.tema-alternativo {
  --color-primario: #d6d6d6;
  --color-secundario: #005807;
  --color-texto: #0b1d0d;
  --color-texto-secundario: #ffffff;
}


