.cards-partidos {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--color-secundario);
  padding: 10px 0;
}
.hora {
  width: 20%;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  border-right: 1px solid var(--color-secundario);
}

.equipos img {
  width: 30px;
  height: 30px;
}

.equipo1,
.equipo2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.equipos-container {
  display: flex;
}
