:root {
  --color-texto: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}
body {
  background: #160606;
  color: var(--color-texto);
}
.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #1d0b0b;
  border-bottom: 1px solid #3c1a1a;
  display: flex;
  align-items: center;
  padding: 0 30px;
  z-index: 1000;
}
.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-text {
  font-size: 20px;
  font-weight: 700;
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}
.nav-link {
  text-decoration: none;
  color: #c2bcbc;
  font-size: 14px;
  transition: 0.2s;
}
.nav-link:hover {
  color: var(--color-texto);
}
.main {
  display: flex;
  justify-content: space-between;
}
.section-games {
  display: inline-block;
  width: 80%;
  background: #160606;
  border-right: 1px solid #3c1a1a;
  padding: 25px 20px;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.aside {
  display: inline-block;
  width: 20%;
  background: #160606;
  border-right: 1px solid #3c1a1a;
  padding: 25px 20px;
  bottom: 0;
}
.section-title {
  font-size: 14px;
  margin-bottom: 20px;
  color: #cfcfcf;
}
.side-item {
  display: block;
  padding: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #d9d9d9;
  border-radius: 6px;
  transition: 0.2s;
}
.side-item:hover {
  background: #311010;
  color: var(--color-texto);
}
img {
  width: 30px;
  height: 30px;
}
