@import "./css/base.css";
@import "./css/cardsLeagues.css";
@import "./css/cardsPartidos.css";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background: var(--color-primario);
  border-bottom: 1px solid var(--color-secundario);
  display: flex;
  align-items: center;
  padding: 0 30px;
  z-index: 1000;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo-text {
  font-size: 20px;
  font-weight: 700;
}
.toggle-container {
  margin-left: auto;
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 20px;
}
.nav-link {
  text-decoration: none;
  color:  var(--color-texto);
  font-size: 14px;
  transition: 0.2s;
}
.nav-link:hover {
  color: var(--color-texto-secundario);
}
.aside {
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  width: var(--aside-width);
  background: var(--color-primario);
  border-right: 1px solid var(--color-secundario);
  padding: 25px 20px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 900;
}
main {
  margin-top: var(--header-height);
  margin-left: var(--aside-width);
  padding: 20px;
  box-sizing: border-box;
  width: calc(100% - var(--aside-width));
}
.section-games {
  display: block;
  width: 100%;
  background: var(--color-primario);
  padding: 25px 20px;
  box-sizing: border-box;
  text-align: center;
}
.section-title {
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 40px;
  color:  var(--color-texto);
  text-align: center;
}
.side-item {
  display: block;
  padding: 12px;
  margin-bottom: 10px;
  text-decoration: none;
  color:  var(--color-texto);
  border-radius: 6px;
  transition: 0.2s;
}
.side-item:hover {
  background: var(--color-secundario);
  color: var(--color-texto-secundario);
}
.side-item.active {
  background: var(--color-secundario);
  color: var(--color-texto-secundario);
  font-weight: 700;
}
img {
  width: 30px;
  height: 30px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}
.switch input {
  opacity: 100%;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0px; left: 0; right: 0; bottom: 0px;
  background-color: #93d14a;
  transition: 0.5s;
  border-radius: 24px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #243e2f;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #497a3a;
}
input:checked + .slider:before {
  transform: translateX(20px);
}
